<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Castle Crush</h1>
            <h2 class="home-subtitle">Build Smart.<br class="mob"/>
            Battle Fast.</h2>
            <p class="home-text">Strategy wins the kingdom.<br/>
            Every card can turn defeat into victory.</p>
            <a class="home-contact"
                href="https://play.google.com/store/apps/details?id=com.mibo.CastleCrush&hl=en&gl=us ">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-wrapper">
    <div class="container title-container">
        <h2>About the Game</h2>
    </div>
</div>
    <div class="container">
        <h3 class="about-subtitle">It's basically a really fast strategy game<br/><span class="span">where you're constantly making split-second deck decisions</span>
        </h3>
        <p class="about-text">Castle Crush combines collectible card mechanics with real-time battlefield action.<br class="desk"/> Players summon units, manage energy,
        and adapt strategies during live battles against opponents from around the world.<br class="desk" /> We want it to be competitive enough
        for hardcore players but not so complex that casual gamers get overwhelmed.</p>
    </div>
</section>