body{
  background: #042036;
  font-family: "Epilogue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #94afb6;
}
h2{
  font-family: "Epilogue", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #94afb6;
}
h3{
  font-family: "Epilogue", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #94afb6;
    margin-bottom: 56px;
}