.footer {
border-top: 1px solid #3f5e7c;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-conntact {
  margin-top: 0;
}

.footer-navigation {
  text-decoration: underline;
  text-decoration-skip-ink: none;
color: #ffeede;
  display: flex;
  justify-content: center;
  gap: 68px;
}

.footer-text {
  letter-spacing: -0.01em;
color: #ffeede;
}
.footer-span{
  display: none;
}
@media only screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-conntact {
    order: 2;
  }

  .footer-navigation {
    order: 3;
    gap: 86px;
  }

  .footer-text {
    order: 1;
  }
  .footer-span{
    display: inline;
  }
}