.home-section {
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 814px;
}

.home-container {
    padding-top: 72px;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-family: "Epilogue", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    background: linear-gradient(180deg,
            #ff9b00 0%,
            #fffd00 35.42%,
            #ff9b00 70.83%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    filter:
        drop-shadow(1px 3px 1px#032744 )
     drop-shadow(0 1px 1px #e46202);
}
.home-subtitle {
    margin-top: 48px;
font-family: "Epilogue", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #042036;
}

.home-text {
    margin-top: 16px;
font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #042036;
}

.home-contact {
    margin-top: 362px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 240px;
    height: 64px;
box-shadow: 0 2px 2px  rgba(45, 45, 45, 0.5);
    background: #9f0b0b;
    transition: box-shadow 0.3s ease-in-out;
}

.home-contact:hover {
box-shadow: inset 0 2px 8px 1px rgba(219, 219, 229, 0.5);
}

@media only screen and (min-width: 1440px) {
    .home-section {
        background-image: url("/img/home/desk.png");
        height: 838px;
    }

    .home-container {
        padding-top: 80px;
        padding-left: 112px;
    }

    .home-wrapper {
        margin-top: 100px;
        align-items: start;
    }

    .home-title {
font-size: 80px;
    }

    .home-subtitle {
        margin-top: 32px;
font-size: 40px;
    }
.mob{
    display: none;
}
    .home-text {
        margin-top: 32px;
        font-size: 24px;
        text-align: left;
    }

    .home-contact {
        margin-top: 48px;
    }
}
/* About the Game */
.title-wrapper{
background: #102b40;
}
.title-container{
    padding-bottom: 16px;
}
.about-text{
color: #ffeede;
}
.about-subtitle{
font-size: 24px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
.about-subtitle{
font-size: 32px;
}
.span{
font-size: 24px;
}
.desk{
    display: block;
}
}
/* How to Play */
.how-swiper .swiper-slide {
border-radius: 8px;
    width: 280px;
    height: 589px;
    background: #042036;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-slide-wrapper {
    margin-top: 16px;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.how-slide-title {
text-transform: uppercase;
    color: #ffeede;
    padding-bottom: 16px;
    border-bottom: 1px solid #9f0b0b;
width: 280px;
}

@media only screen and (min-width: 1440px) {
    .how-swiper .swiper-wrapper {
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }
    .how-swiper .swiper-slide {
width: 370px;
    height: 732px;
    }

    .how-slide-title {
width: 370px;
    }

    .how-slide-text {
        width: 261px;
    }

    .how-swiper .h3 {
width: 570px;
    height: 658px;
    }

    .how-swiper .h3 .how-slide-title {
width: 570px;
    }

    .how-swiper .h3 .how-slide-text {
width: 570px;
    }
}
/* Characters */
.characters-swiper .swiper-slide{
border: 1px solid #3f5e7c;
    border-radius: 8px;
    padding: 16px;
    width: 270px;
    height: 426px;
background: #3f5e7c;
display: flex;
flex-direction: column;
align-items: center;
}
.characters-slide-title{
    margin-top: 20px;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffeede;
}
.characters-slide-text{
    margin-top: 16px;
    width: 238px;
}
@media only screen and (min-width: 1440px) {
.characters-swiper .swiper-wrapper{
    justify-content: center;
    gap: 32px;
}
}
/* Features */
.features-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.features-item{
display: flex;
align-items: center;
gap: 16px;
border-radius: 8px;
    padding: 16px 16px 16px 24px;
    width: 333px;
    height: 132px;
background: #102b40;
}
.features-item img{
 width: 40px;
 height: 40px;   
}
.features-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
.features-item-title{
    color: #ffeede;
    padding-bottom: 8px;
    padding-top: 12px;
    text-align: left;
border-bottom: 1px solid #3f5e7c;
    width: 237px;
}
.features-item-text{
font-size: 12px;
text-align: left;
}
@media only screen and (min-width: 1440px) {
.features-list{
flex-direction: row;
justify-content: center;
gap: 32px;
}
.features-item{
width: 200px;
    height: 254px;
flex-direction: column;
}
.features-item img{
 width: 48px;
 height: 48px;   
}
.features-item-wrapper{
    align-items: center;
    gap: 16px;
}
.features-item-title{
width: 168px;
padding-bottom: 16px;
text-align: center;
}
.features-item-text{
text-align: center;
}    
}